<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="sqlConnectionCyltrack" value="user id=;data source=localhost,1500;persist security info=false;initial catalog=CYLTRACK;password=CYLTRACKUSER;Pooling=true;Max Pool Size=10;Min Pool Size=5"/>
  </appSettings>

  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding_Cyltrack" maxBufferSize="6553600"
          maxBufferPoolSize="52428800" maxReceivedMessageSize="6553600"
          messageEncoding="Mtom" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="Unisangil.CYLTRACK.CYLTRACK_WCF_Services.CilindroService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_Cyltrack"
          bindingNamespace="http://servicios.cyltrack.com.co/cyltrack/"
          contract="Unisangil.CYLTRACK.CYLTRACK_WCF_Services.ICilindroService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
