<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Proveedor" value="System.Data.SqlClient"/>
    <!--<add key="sqlConnectionCyltrack" value="data source=localhost,1500;persist security info=false;initial catalog=CYLTRACK;password=CYLTRACKUSER;Pooling=true;Max Pool Size=10;Min Pool Size=5"/>-->
    <!--<add key="sqlConnectionCyltrack" value="Data Source = (Local); Initial Catalog = CYLTRACK; Integrated Security = True"/>-->
    <add key="sqlConnectionCyltrack" value="Data Source = (Local); Initial Catalog = CYLTRACK; user id = CYLTRACKUSER; password = cyltrackuser"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding_Cilindro" maxBufferSize="6553600"
          maxBufferPoolSize="52428800" maxReceivedMessageSize="6553600"
          messageEncoding="Mtom" />
        <binding name="basicHttpBinding_Cliente" maxBufferSize="6553600"
          maxBufferPoolSize="52428800" maxReceivedMessageSize="6553600"
          messageEncoding="Mtom" />
        <binding name="basicHttpBinding_Reporte" maxBufferSize="6553600"
          maxBufferPoolSize="5242880" maxReceivedMessageSize="6553600" />
        <binding name="basicHttpBinding_Ruta" maxBufferSize="655360"
          maxBufferPoolSize="5242880" maxReceivedMessageSize="655360" />
        <binding name="basicHttpBinding_Usuario" maxBufferSize="655360"
          maxBufferPoolSize="5242880" maxReceivedMessageSize="655360" />
        <binding name="basicHttpBinding_Vehiculo" maxBufferSize="655360"
          maxBufferPoolSize="5242880" maxReceivedMessageSize="655360" />
        <binding name="basicHttpBinding_Venta" maxBufferSize="655360"
          maxBufferPoolSize="5242880" maxReceivedMessageSize="655360" />
        <binding name="basicHttpBinding_Pedido" maxBufferSize="655360"
          maxBufferPoolSize="5242880" maxReceivedMessageSize="655360" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="CilindroServiceBehavior" name="Unisangil.CYLTRACK.CYLTRACK_WCF_Services.CilindroService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_Cilindro"
          bindingNamespace="http://servicios.cyltrack.com.co/cyltrack/"
          contract="Unisangil.CYLTRACK.CYLTRACK_WCF_Services.ICilindroService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="ClienteServiceBehavior" name="Unisangil.CYLTRACK.CYLTRACK_WCF_Services.ClienteService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_Cliente"
          bindingNamespace="http://servicios.cyltrack.com.co/cyltrack/"
          contract="Unisangil.CYLTRACK.CYLTRACK_WCF_Services.IClienteService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="ReporteServiceBehavior" name="Unisangil.CYLTRACK.CYLTRACK_WCF_Services.ReporteService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_Reporte"
          bindingNamespace="http://servicios.cyltrack.com.co/cyltrack/"
          contract="Unisangil.CYLTRACK.CYLTRACK_WCF_Services.IReporteService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="RutaServiceBehavior" name="Unisangil.CYLTRACK.CYLTRACK_WCF_Services.RutaService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_Ruta"
          bindingNamespace="http://servicios.cyltrack.com.co/cyltrack/"
          contract="Unisangil.CYLTRACK.CYLTRACK_WCF_Services.IRutaServices">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="UsuarioServiceBehavior" name="Unisangil.CYLTRACK.CYLTRACK_WCF_Services.UsuarioService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_Usuario"
          bindingNamespace="http://servicios.cyltrack.com.co/cyltrack/"
          contract="Unisangil.CYLTRACK.CYLTRACK_WCF_Services.IUsuarioService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="VehiculoServiceBehavior" name="Unisangil.CYLTRACK.CYLTRACK_WCF_Services.VehiculoService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_Vehiculo"
          bindingNamespace="http://servicios.cyltrack.com.co/cyltrack/"
          contract="Unisangil.CYLTRACK.CYLTRACK_WCF_Services.IVehiculoService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="VentaServiceBehavior" name="Unisangil.CYLTRACK.CYLTRACK_WCF_Services.VentaService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_Venta"
          bindingNamespace="http://servicios.cyltrack.com.co/cyltrack/"
          contract="Unisangil.CYLTRACK.CYLTRACK_WCF_Services.IVentaService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
      <service behaviorConfiguration="PedidoServiceBehavior" name="Unisangil.CYLTRACK.CYLTRACK_WCF_Services.PedidoService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding_Pedido"
          bindingNamespace="http://servicios.cyltrack.com.co/cyltrack/"
          contract="Unisangil.CYLTRACK.CYLTRACK_WCF_Services.IPedidoService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CilindroServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="ClienteServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="ReporteServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="RutaServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="UsuarioServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="VehiculoServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="VentaServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="PedidoServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
